<div class="row">
    <div class="mt-2 btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-light">กำลังเลือกอันดับที่</button>
        </div>
        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">{{number | async}}</button>
        </div>
    </div>
</div>

